<f:layout name="Backend" />

<f:section name="content">
	<h1><f:translate key="LLL:EXT:imagickimg/Resources/Private/Language/locallang.xlf:module.info.title" /></h1>
	<f:flashMessages renderMode="div" />

	<f:if condition="{versions}"> 
		<div class="table-fit">
			<table class="table table-hover">
			<tbody>
				<tr>
					<td><f:translate key="LLL:EXT:imagickimg/Resources/Private/Language/locallang.xlf:module.info.version.imagick" /></td>
					<td>{versions.imagick}</td>
				</tr>
				<tr>
					<td><f:translate key="LLL:EXT:imagickimg/Resources/Private/Language/locallang.xlf:module.info.version.im" /></td>
					<td>{versions.im}</td>
				</tr>
			</tbody>
			</table>
		</div>
	</f:if>
</f:section>