<f:layout name="Backend" />

<f:section name="content">
	<h1><f:translate key="LLL:EXT:imagickimg/Resources/Private/Language/locallang.xlf:module.tests.title" /></h1>
	<f:flashMessages renderMode="div" />

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
						<span class="caret"></span>
						True type font settings
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<form method="post">
						<input type="hidden" name="install[controller]" value="tool" />
						<input type="hidden" name="install[action]" value="testSetup" />
						<input type="hidden" name="install[token]" value="da274a814bdb729ccf652e5baa059f8263bac5e2" />
						<input type="hidden" name="install[context]" value="backend" />						
						<button class="btn btn-default " type="submit" name="install[set][testTrueTypeFont]">Test true type font</button>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="collapsed">
						<span class="caret"></span>
						Convert image formats to jpg
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<form method="post">
						<input type="hidden" name="install[controller]" value="tool" />
						<input type="hidden" name="install[action]" value="testSetup" />
						<input type="hidden" name="install[token]" value="da274a814bdb729ccf652e5baa059f8263bac5e2" />
						<input type="hidden" name="install[context]" value="backend" />
						<h4>Convert image formats to jpg</h4>
						<button class="btn btn-default " type="submit" name="install[set][testConvertImageFormatsToJpg]">Test image formats</button>
					</form>
				</div>
			</div>
		</div>		
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFour">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="collapsed">
						<span class="caret"></span>
						Writing gif and png
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<form method="post">
						<input type="hidden" name="install[controller]" value="tool" />
						<input type="hidden" name="install[action]" value="testSetup" />
						<input type="hidden" name="install[token]" value="da274a814bdb729ccf652e5baa059f8263bac5e2" />
						<input type="hidden" name="install[context]" value="backend" />
						<h4>Writing gif and png</h4>
						<button class="btn btn-default " type="submit" name="install[set][testWriteGifAndPng]">Test image formats</button>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFive">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" class="collapsed">
						<span class="caret"></span>
						Scaling images
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
					<form method="post">
						<input type="hidden" name="install[controller]" value="tool" />
						<input type="hidden" name="install[action]" value="testSetup" />
						<input type="hidden" name="install[token]" value="da274a814bdb729ccf652e5baa059f8263bac5e2" />
						<input type="hidden" name="install[context]" value="backend" />
						<h4>Scaling images</h4>
						<button class="btn btn-default " type="submit" name="install[set][testScalingImages]">Test scaling images</button>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSix">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class="collapsed">
						<span class="caret"></span>
						Combining images
					</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingSix">
				<div class="panel-body">
					<form method="post">
						<input type="hidden" name="install[controller]" value="tool" />
						<input type="hidden" name="install[action]" value="testSetup" />
						<input type="hidden" name="install[token]" value="da274a814bdb729ccf652e5baa059f8263bac5e2" />
						<input type="hidden" name="install[context]" value="backend" />
						<h4>Combining images</h4>
						<button class="btn btn-default " type="submit" name="install[set][testCombiningImages]">Test combining images</button>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSeven">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" class="collapsed">
						<span class="caret"></span>
						GDlib
					</a>
				</h4>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingSeven">
				<div class="panel-body">
					<form method="post">
						<input type="hidden" name="install[controller]" value="tool" />
						<input type="hidden" name="install[action]" value="testSetup" />
						<input type="hidden" name="install[token]" value="da274a814bdb729ccf652e5baa059f8263bac5e2" />
						<input type="hidden" name="install[context]" value="backend" />
						<button class="btn btn-default " type="submit" name="install[set][testGdlib]">Test GDLib</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</f:section>